<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field
			name="date_format"
			type="text"
			
			default="'%a, %d %b %Y, %I:%M%p"
			label="COM_LOCATOR_SET_DATE_FORMAT"
			description="COM_LOCATOR_SET_DATE_FORMAT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		
	</fieldset>

 	<fieldset
		name="tooltips"
		label="COM_LOCATOR_TOOLTIPS"
		description="COM_LOCATOR_TOOLTIPS_DESC">

		<field
 			name="page_tooltip_dashboard_disabled"
 			type="text"
			label="COM_LOCATOR_HIDE_DASHBOARD_TOOLTIPS"
			description="COM_LOCATOR_HIDE_DASHBOARD_TOOLTIPS_DESC"
		/>

	</fieldset>
	<fieldset
		name="integration"
		label="COM_LOCATOR_INTEGRATIONS"
		description="COM_LOCATOR_TOOLTIPS_DESC">

		<field
 			name="amigosid"
 			type="text"
			label="COM_LOCATOR_AMIGOSID"
			description="COM_LOCATOR_AMIGOSID_DESC"
		/>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_locator"
			section="component" />
	</fieldset>
</config>
